*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
}

.logo{
    display: flex;
    /* justify-content: space-around; */
    width: 40%;
    padding-left: 80px;
}
.logo img{
    width: 125px;
}

.logo a:hover{
    /* color: rgb(101, 101, 243); */
    color: rgb(35, 35, 182);
}

.logo li{
    list-style: none;
    padding-top: 50px;
}

.logo a{
    color: black;
    text-decoration: none;
    letter-spacing: 20px;
    /* font-weight: bold; */
    font-size: 20px;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-links a:hover{
    color: rgb(35, 35, 182);
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px; 
    background-color: rgb(240, 240, 240);
    margin: 5px;
    transition:  all 0.3s ease-in;
} 
.sec1{
    font-family: 'Nunito', serif;
    float: right;
    background-color: #deccd32f;
    /* background-color: rgba(236, 236, 236, 0.863); */
    width: 100%;
}
.sec1 img{
    float: left;
    margin: 100px;
    width: 45%;
}

.sec1 h1{
    padding-top: 180px;
    font-size: 120px;
    font-weight: bold;
    /* font-style: initial; */
}
.sec2{
    /* color: #1f466a; */
    color: #325c7b;
    padding:40px 120px;
    font-family: 'Nunito', sans-serif;
    float: left;
    background-color: #deccd32f;
    width: 100%;
}
.sec2 img{
    padding-left:50px;
    float: right;
    width: 47%;
}
.sec2 h2{
    padding: 100px 0 30px 0;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: lighter;
}
.sec2 p{
    line-height: 25px;
    font-size: 20px;
}
.sec2_1 p{
    font-size: 16px;
    line-height: 18px;
}
.sec2 h4{
    /* font-weight: 600; */
}
.sec2 h5{
    font-size: 21px;
    font-weight: lighter;
}
.sec2 a{
    color: #325c7b;
    font-weight: lighter;
}
.sec3{
    font-family: 'Nunito', sans-serif;
    padding:0 120px;
    float:right;
    background-color: #deccd32f;
    width: 100%;
}
.sec3 h2{
    /* margin: 500px; */
    float: right;
    padding: 100px 0 30px 800px;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: lighter;
}

.box{
    color: black;

    /* padding-top: 150px;
    margin: 0 120px 0 120px; */
}


.sec3 img{
    /* float: left; */
    background-color: white;
    margin: 50px;
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.295); */
    /* border-style: double; */
    width: 25%;
    height: 250px;
}

.sec4{
    /* background-color: purple; */
    width: 100%;
}
