*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 25vh;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
}

/* .logo{
    justify-content: space-around;
    display: flex;
    padding-left: 5%;
}
.logo img{
    width: 35%;
}
.logo li{
    list-style: none;
}
.logo a{
    color: black;
    /* text-decoration: none;
} */
.logo{
    display: flex;
    /* justify-content: space-around; */
    width: 40%;
    padding-left: 80px;
}
.logo img{
    width: 125px;
}

.logo a:hover{
    /* color: rgb(101, 101, 243); */
    color: rgb(35, 35, 182);
}

.logo li{
    list-style: none;
    padding-top: 50px;
}

.logo a{
    color: black;
    text-decoration: none;
    letter-spacing: 20px;
    /* font-weight: bold; */
    font-size: 20px;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-links a:hover{
    /* color: rgb(101, 101, 243); */
    color: rgb(35, 35, 182);
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    /* letter-spacing: 3px; */
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px; 
    background-color: rgb(240, 240, 240);
    margin: 5px;
    transition:  all 0.3s ease-in;
} 